h1 {
  text-align: center;
}

.column {
  width: 33%;
  height: 500px;
  float: left;
  border: 10px solid red;
  box-sizing: border-box;
}

.column img {
  margin: auto;
  width: 33%;
  height: auto;
  display: block;
}

.danger {
  color: yellow;
  font-weight: 900;
}

body {
  background-color: green;
  font-family: sans-serif;
}

.column h3 {
  font-size: large;
}

@media screen and (max-width 1000px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width 480px) {
  body {
    background-color: teal;
  }
}